PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/smarttrack?retryWrites=true&w=majority
JWT_SECRET=smarttrack_secret_key_change_me
EMAIL_USER=your-email@gmail.com
EMAIL_PASS=your-app-password
EMAIL_FROM="SmartTrack Support <your-email@gmail.com>"
FRONTEND_URL=https://smarttrack-frontend.vercel.app
NODE_ENV=development
